@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --blue: #1e6c91;
  --red: #be3634;
  --gray: #6b818c;
  --yellow: #dab200;
  --slate: #eee5e9;
}

* {
  @apply transition ease-in-out text-gray-500;
  font-family: 'Rubik', sans-serif;
}
.linkHolder {
  @apply text-blue-999;
  font-size: 18px;
  display: inline-block;
  position: relative;
  font-weight: 500;
  cursor: pointer;
}
.linkHolder::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: var(--red);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.linkHolder:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.banner {
  object-fit: cover;
  overflow: hidden;
  height: 570px;
  width: 100%;
  /* @apply h-64 md:h-96 */
}
.socialIcons {
  @apply w-8 hover:scale-105;
}
