@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --blue: #08415c;
  --red: #cc2936;
  --gray: #6b818c;
  --yellow: #f1bf98;
  --slate: #eee5e9;
}

* {
  @apply font-mono transition ease-in-out;
  color: var(--blue);
}
.linkHolder {
  display: inline-block;
  position: relative;
  color: var(--blue);
  cursor: pointer;
}
.linkHolder::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--blue);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.linkHolder:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
